.Appbar {
  background: #fff;
  height: 50px;
  display: flex;
  justify-content: center;
  padding: 0.5em;
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 0.5em;
}

.title {
  font-size: 26px;
  font-weight: 700;
  align-items: center;
  display: flex;
  justify-content: center;
}

.firstName {
  color: #f31b1b;
}

.secondName {
  color: #19125c;
}