.drag_card {
  background-color: #ffffff;
  border-radius: 10px;
  padding-inline: 0.6rem;
  box-shadow: 0px 0px 10px 0px #b5b5b5;
  padding-bottom: 0.6rem;
  color: #000;
  margin-bottom: 10px;
}

.card_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: gray;
  font-size: 12px;
}

.card_avatars {
  display: inline-block;
  position: relative;
}

.card_avatar {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.card_status {
  width: 9px;
  height: 9px;
  border: 2px solid white;
  position: absolute;
  bottom: 2%;
  right: 2%;
  border-radius: 100%;
}


.card_title {
  font-size: 15px;
  font-weight: 700;
  color: #000;
}


.card_priority {
  display: flex;
  color: gray;
  font-size: 14px;
  font-weight: 600;
}

.card_p_sign {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 2px;
  border: 0.3px solid #575757;
  width: fit-content;
  border-radius: 14px;
  margin-right: 0.5rem;
}


.material-symbols-outlined {
  font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

.card_tags {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: fit-content;
  border-radius: 8px;
  margin-right: 0.5rem;
  padding: 0.5rem 0.3rem;
  font-size: 12px;
  color: gray;
  border: 0.3px solid #454545;
}

.card_circle {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #575757;
  margin-right: 0.2rem;
}